*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Consolas', monospace;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.wrapper h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 3em;
}

.wrapper h2 {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2em;
}

.wrapper .move {
  font-size: 1.5em;
}

.wrapper .board {
  width: 30vw;
  height: 30vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.125em 0.125em;

  border: 2px solid black;
  background-color: black;
}

.wrapper .board .tile {
  position: relative;

  text-align: center;
  font-size: 4em;

  color: white;
  background-color: rgb(220, 220, 220);
}

.wrapper .board .tile .symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover,
.winner-text {
  display: none;
}

.cover.active {
  display: block;

  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.6);
}

.winner-text.active {
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 6em;
  color: white;
}

.fa-times {
  font-size: 1.5em;
  color: rgb(255, 84, 84);
}

.fa-circle {
  font-size: 1.2em;
  color: rgb(140, 199, 255);
}
